fastapi
uvicorn
openai
langchain
chromadb
authlib
python-jose
mysql-connector-python
aiofiles
python-dotenv
itsdangerous
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
